:root{
  --pink:pink; 
  --purple: rgb(107, 3, 226);
}

var 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
/* */
body {
  background-color: var(--pink);
  display:flex ;
  flex-direction: column;
  margin: 0px;
}
/* Top bar with Links to doc*/
header {display: flex;
  color: pink;
  font-family: Arial,;
  padding: 20px;
  background-color: Var(--purple);
  justify-content: space-between;
  
}

header a {color: var(--pink);
  text-decoration: none;}

h1 {
  display: flex;
  font-size: 48px;
  color:var(--pink);
  align-items: center;
}

h2 {font-size: 32px;
  max-width: 15%;
  min-width: 15%;
  
}

h3 {display: flex;
  width: 70%;
  flex-direction: column;
align-items:center}


header ul {
display:flex ;
color: var(--pink);
list-style-type: none;
float: right;
}

header ul li{
  margin: 20px;
  font-size: 32px;
}

/* Text and sections between header and footer */

section {display: flex;
margin: 10px 5px 0px 10px ;
min-height: 300px;}

section img {max-width: 300px; max-height: 300px;
padding: 0px 5px 0px 5px; 
}
/* Cards used to store creations and completed proj */
.Boxes { align-items: center;
border-width: 5px;
min-width: 15%;
border-style: solid;
border-color: rgb(7, 160, 160);
font-size:25px ;}

li {list-style:none;}

h3 img {min-height: 150;}

#cv {max-height: none;
max-width: none;}

.img-link{padding: 0px;
  max-width:99%;
  opacity: 0.6 ;}

.img-link:hover {
  opacity: 1;
  border: 3px;
  border-color: blueviolet;
  border-style: dashed;
}

footer {display: flex;
  color: var(--pink);
  font-family: Arial,;
  padding: 20px;
  background-color: Var(--purple);
  justify-content: space-between;
  }

footer ul {display: flex;
flex-direction: row;
font-size: 18px;}

footer ul li {margin: 0px 55px 0px 55px;
display: flex;
align-items:center;
}

footer a {font-size: 18px;
  text-decoration: none;
  color: rgb(0, 250, 0);}